In [1]:
f = open('example.txt', 'r')

In [3]:
f.close()

In [4]:
f = open('example.txt', 'w')

In [5]:
str_1 = 'Hello_world!'
f.write(str_1)

12

In [6]:
f.close()

In [7]:
f = open('example.txt', 'r')

In [8]:
f.read() # выводит все, что есть в файле

'Hello_world!'

In [9]:
f.read()

''

In [10]:
f.tell() # где сейчас курсор

12

In [11]:
f.seek(0) # перемещает курсор в начало

0

In [12]:
f.seek(0)

'Hello_world!'

In [13]:
f.seek(0)

0

In [14]:
f.read(6)

'Hello_'

In [15]:
f.close()

In [16]:
with open('example.txt', 'w') as outf:  # закрывает прямо в блоке
    outf.write(str_1)
    outf.write(str_1)

In [17]:
with open('example.txt', 'r') as outf1:
    print (outf1.read())

Hello_world!Hello_world!

In [18]:
with open('example.txt', 'a') as app:
    app.write('test')

In [21]:
with open('example.txt', 'a') as app:
    app.write('\ntest')
    app.write('test1' + '\n' + 'test2')

In [24]:
with open('example.txt', 'r') as f:
    for line in f:
        print(line.strip())

Hello_world!Hello_world!test
test
testtest1

testtest1
test2

In [25]:
line_1 = ['ID', 'Name', 'Age', 'City']
line_2 = ['1', 'Василий', '20', 'Moscow']

In [26]:
','.join(line_1)

'ID,Name,Age,City'

In [27]:
','.join(line_2)

'1,Василий,20,Moscow'

In [28]:
with open('example.csv', 'w') as f:
    f.write(','.join(line_1) + '\n')
    f.write(','.join(line_2) + '\n')

In [29]:
import csv

In [30]:
with open('example.csv', 'r') as f:
    reader = csv.reader(f) #делает сразу списки, знает, что строка разделена запятой
    for line in reader:
        print(line)

['ID;Name;Age;City']
['1;Василий;20;Moscow']

In [40]:
dct = {
    'ID': 1,
    'Name': 'Василий',
    'Age': 20,
    'City': 'Moscow',
    'Marks_1Q': (5, 4, 5),
    'Marks_2Q': [5, 4, 5]
    }

In [41]:
import json

In [42]:
dmp = json.dumps(dct) # переводит структуру данных в строку

In [44]:
print(dmp)

{"ID": 1, "Name": "\u0412\u0430\u0441\u0438\u043b\u0438\u0439", "Age": 20, "City": "Moscow", "Marks_1Q": [5, 4, 5], "Marks_2Q": [5, 4, 5]}

In [46]:
print (json.dumps(dct, indent = 4))

{
    "ID": 1,
    "Name": "\u0412\u0430\u0441\u0438\u043b\u0438\u0439",
    "Age": 20,
    "City": "Moscow",
    "Marks_1Q": [
        5,
        4,
        5
    ],
    "Marks_2Q": [
        5,
        4,
        5
    ]
}

In [47]:
dct_2 = json.loads(dmp)

In [48]:
dct_2

{'ID': 1,
 'Name': 'Василий',
 'Age': 20,
 'City': 'Moscow',
 'Marks_1Q': [5, 4, 5],
 'Marks_2Q': [5, 4, 5]}

In [51]:
print (dct_2['City'])

Moscow

In [52]:
with open('out.json', 'w') as outf:
    json.dump(dct_2, outf)

In [63]:
with open('input.json', 'r') as inputfile:
    #print(inputfile.read())
    dct_3 = json.load(inputfile)
    print (json.dumps(dct_3, indent = 4))
    
    print (dct_3.keys())

{
    "glossary": {
        "title": "example glossary",
        "GlossDiv": {
            "title": "S",
            "GlossList": {
                "GlossEntry": {
                    "ID": "SGML",
                    "SortAs": "SGML",
                    "GlossTerm": "Standard Generalized Markup Language",
                    "Acronym": "SGML",
                    "Abbrev": "ISO 8879:1986",
                    "GlossDef": {
                        "para": "A meta-markup language, used to create markup languages such as DocBook.",
                        "GlossSeeAlso": [
                            "GML",
                            "XML"
                        ]
                    },
                    "GlossSee": "markup"
                }
            }
        }
    }
}
dict_keys(['glossary'])

In [64]:
dct5 = {
    'ID': 1,
    'Name': 'Василий',
    'Age': 20,
    'City': 'Moscow',
    'Marks_1Q': (5, 4, 5),
    'Marks_2Q': [5, 4, 5]
    }

In [65]:
dct5

{'ID': 1,
 'Name': 'Василий',
 'Age': 20,
 'City': 'Moscow',
 'Marks_1Q': (5, 4, 5),
 'Marks_2Q': [5, 4, 5]}

In [70]:
dct5.update({'test':5})

In [73]:
x = dct5.items()

In [74]:
x

dict_items([('ID', 1), ('Name', 'Василий'), ('Age', 20), ('City', 'Moscow'), ('Marks_1Q', (5, 4, 5)), ('Marks_2Q', [5, 4, 5]), ('test', 5)])

In [81]:
dct['t'] = 6

In [82]:
dct

{'ID': 1,
 'Name': 'Василий',
 'Age': 20,
 'City': 'Moscow',
 'Marks_1Q': (5, 4, 5),
 'Marks_2Q': [5, 4, 5],
 't': 6}